<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster School</title>
</head>
<body>
    <h1>You are entering monster school</h1>
    <h2>Choose the monster you want to learn about:</h2>
    <a href="/monsters/dracula">Dracula</a>
    <a href="/monsters/Frankenstein">Frankenstein</a>
    <a href="/monsters/Mummy">Mummy</a>
</body>
</html>