.box {
    width: 800px;
    height: 380px;
    border: 5px solid #7e9499d8;
    margin: 20px auto;
    position: relative;
}

.item1 {
    width: 800px;
    height: 100px;
    background-color: rgb(50, 156, 182);
}

.user {
    left: 20px;
    top: 40px;
}

.user_icon {
    height: 100px;
    width: 100px;
    position: absolute;
}

.words h2 {
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 0px;
}
.words h3 {
    margin-left: 5px;
    margin-top: 5px;
}

.marker img {
    height: 25px;
}

.marker {
    margin-left: 30px;
    display: flex;
}
.bio {
    margin-left: 30px;
}
.marker a {
    margin-left: 5px;
    margin-top: 5px;

}