<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register || Login User</title>
</head>
<body>
    <div class="container d-flex">
        <div class="container w-50 mt-3 p-4 border border-4 border-danger rounded text-primary fw-bold">
            <h1 class="text-center">Register</h1>
            <div class="text-center">
                {% with messages = get_flashed_messages(category_filter="register") %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="background-color:rgb(255, 0, 0); color: black; font-size: medium;">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">First Name:</label>
                    <input type="text" name="first_name" placeholder="First name here!" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Last Name:</label>
                    <input type="text" name="last_name" placeholder="Last name here!" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Email:</label>
                    <input type="text" name="email" placeholder="example@gmail.com" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Confirm Password:</label>
                    <input type="password" name="confirm_password" class="form-control">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-warning">Submit!</button>
                </div>
            </form>
        </div>
        <div class="container w-25 mt-3 p-4 border border-4 border-light rounded text-primary fw-bold">
            <h1 class="text-center">Already have an account? Login!</h1>
            <div class="text-center">
                {% with messages = get_flashed_messages(category_filter="login") %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="background-color:rgb(214, 54, 54); color: black;">{{message}}</p>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Email:</label>
                    <input type="text" name="email" placeholder="Your email here..." class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-warning">Submit</button>
                </div>
            </form>
        </div>

</body>
</html>