<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users_CR</title>
</head>
<body>
    <p>Do you wanna give us your information?</p>
    <form action="/create_user" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <input type="submit" value="Add user!">
    </form>
</body>
</html>