.header {
    height: 70px;
    background-color: black;
    margin: 0px;
    padding: 10px;
    color: whitesmoke;
}
body {
    padding-left: 20%;
    padding-right: 20%;
}
h1 {
    margin-left: 300px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.left {
    border: 3px solid black;
    height: 230px;
    width: 200px;
    margin-top: 10px;
   
}
.image {
    height: 70px;
    width: 70px;
    padding: 30px 0px 0px 60px;
}

.left h3 {
    text-decoration: underline;
    color: rgb(37, 138, 206);
    margin-left: 32px;
}
.left h2 {
    margin-left: 41px;
}

.user {
    border: 3px solid black;
    width: 450px;
    margin-top: 10px;
    padding: 10px 30px 0px 30px;
}
.usertop {
    display: flex;
    justify-content: space-between;
}
.userlike {
    display: flex;
}
.likebox {
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: 18px;
    margin-left: 18px;
    box-shadow: 2px 3px black;
    background-color: rgb(235, 231, 20);
}

.top {
    display: flex;
    margin: 13px;
}
    
.top h2 {
    margin-right: 50px;
    margin-top: 15px;
}