<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ninjas</h1>
    <table width="500" border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for n in ninja_display.ninjas %}
        <tr>
            <td>{{n.id}}</td>
            <td>{{n.first_name}}</td>
            <td>{{n.last_name}}</td>
            <td>{{n.age}}</td>
        </tr>
        {% endfor %} 
    </table>
</body>
</html>