<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create_ninja" method = "post">
        <label for="dojos">Dojos</label>
        <select name="dojo_id" id="dojo">
            {% for d in dojos %}
            <option value="{{d.id}}">{{d.name}}</option>
            {% endfor %}
        </select>
        <label name="first_name">First Name</label>
        <input type="text" name = "first_name">
        <label name="last_name">Last Name</label>
        <input type="text" name = "last_name">
        <label name="age">Age</label>
        <input type="text" name = "age">
        <button type="submit" >Create</button>
    </form>
</body>
</html>